
@{
    ViewData["Title"] = "altas_bajas";
}

<html>
<head>
</head>
<body style="background-color: #EEEEEE;">
    <h2><b>Altas y Bajas</b></h2>

    <div style="text-align: center">
        <br />
        <h3>Altas y Bajas</h3>
    </div>

    <br />
    <form class="form-horizontal" method="post">
        <div align="center">
            <select name="altabaja" id="altabaja">
                <option>Alta</option>
                <option>Baja</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Código del Producto</label>
            <div class="col-sm-5">
                <input type="text" name="codigo_producto" class="form-control" id="codigo_producto" placeholder="Código del Prodcuto" />
            </div>
        </div>
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Ejecutar Cambio</button>
        </div>
    </form>
</body>
</html>

