@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>

</head>
<body>


    <h2><u>Crear usuarios</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Crear usuarios</h3>
    </div>

    <br />
    <form class="form-horizontal" method="post">

        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Nombre 1</label>
            <div class="col-sm-5">
                <input type="text" name="nombre1" class="form-control" id="nombre1" placeholder="Nombre 1" />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Nombre 2</label>
            <div class="col-sm-5">
                <input type="text" name="nombre2" class="form-control" id="nombre2" placeholder="Nombre 2" />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Nombre 3</label>
            <div class="col-sm-5">
                <input type="text" name="nombre3" class="form-control" id="nombre3" placeholder="Nombre 3" />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Apellido 1</label>
            <div class="col-sm-5">
                <input type="text" name="apellido1" class="form-control" id="apellido1" placeholder="Apellido 1" />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Apellido 2</label>
            <div class="col-sm-5">
                <input type="text" name="apellido2" class="form-control" id="apellido2" placeholder="Apellido 2" />
            </div>
        </div>
        <div class="form-group">
            <label for="direccion" class="col-sm-5 control-label">DPI</label>
            <div class="col-sm-5">
                <input type="text" name="dpi" class="form-control" id="dpi" placeholder="DPI" />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label">Usuario</label>
            <div class="col-sm-5">
                <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label">Contrasena</label>
            <div class="col-sm-5">
                <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contrasena" />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label">Tipo de usuario</label>
            <div class="col-sm-5">
                <select name="tipousuario" id="Tipo">
                    <option>Administrador</option>
                    <option>Coordinador</option>
                    <option>Usuario basico</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>
</body>
</html>