@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
</head>
<body style="background-color: #EEEEEE;">
    <h2><u><strong>Crear Usuario</strong>s</u></h2>
    <div style="text-align: center">
        <br />
        <h3><strong>Crear Usuarios</strong></h3>
    </div>
    <br />
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label"><strong>Nombre 1</strong></label>
            <div class="col-sm-5">
                <input type="text" name="nombre1" class="form-control" id="nombre1" placeholder="Nombre 1" required />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label"><strong>Nombre 2</strong></label>
            <div class="col-sm-5">
                <input type="text" name="nombre2" class="form-control" id="nombre2" placeholder="Nombre 2" required />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label"><strong>Nombre 3</strong></label>
            <div class="col-sm-5">
                <input type="text" name="nombre3" class="form-control" id="nombre3" placeholder="Nombre 3" />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label"><strong>Apellido 1</strong></label>
            <div class="col-sm-5">
                <input type="text" name="apellido1" class="form-control" id="apellido1" placeholder="Apellido 1" required />
            </div>
        </div>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label"><strong>Apellido 2</strong></label>
            <div class="col-sm-5">
                <input type="text" name="apellido2" class="form-control" id="apellido2" placeholder="Apellido 2" required />
            </div>
        </div>
        <div class="form-group">
            <label for="direccion" class="col-sm-5 control-label"><strong>DPI</strong></label>
            <div class="col-sm-5">
                <input type="text" name="dpi" class="form-control" id="dpi" placeholder="DPI" required />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label"><strong>Usuario</strong></label>
            <div class="col-sm-5">
                <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" required />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label"><strong>Contrasena</strong></label>
            <div class="col-sm-5">
                <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contraseña" required />
            </div>
        </div>
        <div class="form-group">
            <label for="dpi" class="col-sm-5 control-label"><strong>Tipo de usuario</strong></label>
            <div class="col-sm-5">
                <select name="tipousuario" id="Tipo">
                    <option>Administrador</option>
                    <option>Coordinador</option>
                    <option>Usuario basico</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success" id="registrar"><strong>Registrar</strong></button>
        </div>
        <br />
        <br />

    </form>
</body>
</html>