<html>
<head>
</head>
<body style="background-color: #EEEEEE;">
    <h1>Error en las credenciales de usuario</h1>
    <h6>Existe un problema para el ingreso a esta ventana, usted no cuenta con las credenciales necesarias para poder acceder</h6>
    <h6>Porfavor comuniquese con el supervisor o superior para poder resolver sus dudas o necesidades, tenga un buen dia</h6>
    <br />
    <br />
    <br />
    <br />
    <h6>No puede continuar con esta acción</h6>
</body>
</html>
