<html>
<head>
    <style>
        body {
            background: url(../Imagenes/index/fondo.jpg);
            padding: 2px 20px 2px 20px;
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>
    <body>
        <h1>Error en los permisos de usuario</h1>
        <h6>Existe un problema para el ingreso a esta ventana usted no cuenta con los permisos necesarios para poder ingresar</h6>
        <h6>porfavor comuniquese con su supervisor o superior para poder resulver sus dudas o necesidades tenga tenga un buen dia</h6>
        <br />
        <br />
        <br />
        <br />
        <h6>No puede continuar con esta accion porfavor regrese a sus lavores cotidianas y autorizadas</h6>
    </body>
</html>
