@{
    ViewData["Title"] = "Factura";
}
<div style="float: right">
    <input type="image" src="https://img.icons8.com/ios/452/print--v1.png" width="50" height="50">
    <br />
    <label>Imprimir</label>
</div>

<div style="text-align: left">
    <h2>Factura Amabisca</h2>
</div>

<div style="float: left" >
    <p><h3>Amabisca</h3></p>
    <p>NIT:17000000</p>
    <p>Calle Rio de Janeiro</p>
    <p>Coban, Alta Verapaz</p>
    <p>Guatemala</p>
    <p>Tel: 79536214 | Fax: 97656432</p>
    <p>amabisca@gmail.com</p>
</div>

<br />
<br />
<div style="float: right" >
    <p><h2>FACTURA</h2></p>
    <p>No. de Factura: </p>
    <p>Fecha: @DateTime.Now.ToShortDateString()</p>
</div>
