<html>
<head>
    <style>
        body {
            background: url(../Imagenes/index/fondo.jpg);
            padding: 2px 20px 2px 20px;
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>
<body>
    <h1>Error en alguno de los campos</h1>
    <h6>Existe un error en los campos no se puede completar la operación porfavor revise sus datos</h6>
    <br />
    <br />
    <br />
    <br />
    <h6>No puede continuar con esta acción</h6>
</body>
</html>