<html>
<head>
</head>
<body style="background-color: #EEEEEE;">
    <h1>Error en alguno de los campos</h1>
    <h6>Existe un error en los campos no se puede completar la operación porfavor revise sus datos</h6>
    <br />
    <br />
    <br />
    <br />
    <h6>No puede continuar con esta acción</h6>
</body>
</html>