<html>
<head>

</head>
<body>
    <h1>Error en alguno de los campos</h1>
    <h6>Existe un error en los campos no se puede completar la operacion porfavor revise</h6>
    <br />
    <br />
    <br />
    <br />
    <h6>No puede continuar con esta accion porfavor regrese a sus lavores cotidianas y autorizadas</h6>
</body>
</html>