<html>
<head>

</head>
<body>

    <div style="float: right">
        <input type="image" src="https://previews.123rf.com/images/martialred/martialred1507/martialred150700667/42613345-icono-plana-de-la-impresora-de-inyecci%C3%B3n-de-tinta-para-aplicaciones-y-sitios-web.jpg" width="68" height="68">
        <br />
        <label>Imprimir</label>
    </div>
    <h2><u>Inventario</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Consulta de Inventario</h3>
    </div>

    <br />

    <select>
        <option>Productos en Stock</option>
        <option>Productos Vendidos</option>
        <option>Productos Defectuosos</option>
    </select>
    <div style="text-align: left">
        <br />
        <br />
        <h7 class="h7">Buscador</h7>
        <div class="flexsearch">
            <div class="flexsearch--wrapper">
                <form class="flexsearch--form" action="#" method="post">
                    <div class="flexsearch--input-wrapper">
                        <input class="flexsearch--input" type="search" placeholder="Buscador">
                    </div>
                    <input class="flexsearch--submit" type="submit" value="&#10140;" />
                </form>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div style="text-align: left">
        <h5><u>Tabla de Productos</u></h5>
        <table border="1">

            <tr>

                <th>Codigo</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Estado</th>
                <th>Precio</th>
                <th>Cantidad</th>

            </tr>

            <tr>

                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>

            </tr>

            <tr>

                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
                <th>12</th>

            </tr>

            <tr>

                <th>13</th>
                <th>14</th>
                <th>15</th>
                <th>16</th>
                <th>17</th>
                <th>18</th>

            </tr>

        </table>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" class="btn btn-success">Consultar</button>
    </div>

</body>
</html>