@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <style type="text/css">
        .nuevo1 {
            position: relative;
            left: 1400px;
            bottom: 50px;
            float: left;
        }
    </style>
</head>
<body>
    <h2><u>Login</u></h2>

    <div class="nuevo1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crear_usuario"><img src="~/Imagenes/Logo/agregar.png" alt="Logo" class="logo" width="50" height="50"></a>
    </div>

    <div style="text-align: center">
        <br />
        <h3>Login</h3>
    </div>

    <br />

    <form class="form-horizontal" method="post">
        @ViewData["estadoc"];
        <h1>@ViewData["estadoc"]</h1>
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Usuario</label>
            <div class="col-sm-5">
                <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" />
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Contrasena</label>
            <div class="col-sm-5">
                <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contrasena" />
            </div>
        </div>
        <br />
        <br />

        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Ingresar</button>
        </div>
    </form>
</body>
</html>