@{ 
    Layout = null;
}

<html>
<head>
    <style type="text/css">
        .nuevo1 {
            position: relative;
            left: 1400px;
            bottom: 50px;
            float: left;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 align="center"><u>Login</u></h1>

    <div class="nuevo1">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crear_usuario"><img src="~/Imagenes/Logo/agregar.png" alt="Logo" class="logo" width="50" height="50"></a>
    </div>

    <br />

    <form class="form-horizontal" method="post">
        @ViewData["estadoc"];
        <h1>@ViewData["estadoc"]</h1>
        <div class="form-group" align="center">
            <label for="nombre" class="col-sm-5 control-label">Usuario</label>
            <div class="col-sm-5">
                <input type="text" name="usuario" class="form-control" id="usuario" placeholder="Usuario" />
            </div>
        </div>
        <br />
        <br />
        <div class="form-group" align="center">
            <label for="nombre" class="col-sm-5 control-label">Contrasena</label>
            <div class="col-sm-5">
                <input type="password" name="contrasena" class="form-control" id="contrasena" placeholder="Contrasena" />
            </div>
        </div>
        <br />
        <br />

        <div style="text-align: center">
            <button type="submit" class="btn btn-success" align="center">Ingresar</button>
        </div>
    </form>
</body>
</html>