

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
     <title>Inicio</title>
     <link rel="stylesheet" href="css/normalice.css">
     <link rel="stylesheet" href="~/css/stylelogin.css">
     <style>
         .body{
             background-color: gray;
         }
     </style>
 </head>
 <body style="background-color: #EEEEEE;">
     <header class="header">
         <section class="hero">
             <div class="contenido-hero">
                 <h2><span>Amabisca S.A.</span></h2>
                 <div class="ubicacion">
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="80" height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffbf00" fill="none" stroke-linecap="round" stroke-linejoin="round">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                         <circle cx="12" cy="11" r="3" />
                         <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                     </svg>
                     <p>Coban, Alta Verapaz</p>
                 </div>
                 <a class="boton" href="#">Contactar</a>
             </div><!-- .contendio-hero-->
         </section>
     </header>
     <main class="sombra">
         <section>
             <div class="bloques contenedor">
                 <div class="bloque">
                     <img class="bloque__imagen" src="~/Imagenes/index/descansocafe.png" alt="icono_1">
                     <h3 class="bloque__titulo">Nosotros</h3>
                     <p>
                         Etiam rhoncus. Maecenas tempus, Etiam sit amet orci eget eros faucibus
                         tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                     </p><!--.bloque-->
                     <a href="entrada.html" class="boton boton--primario">Ir a</a>
                 </div>

                 <div class="bloque">
                     <img class="bloque__imagen" src="~/Imagenes/index/watscafe.png" alt="icono_1">
                     <h3 class="bloque__titulo">Contacto</h3>
                     <p>
                         Etiam rhoncus. Maecenas tempus, Etiam sit amet orci eget eros faucibus
                         tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                     </p><!--.bloque-->
                     <a href="entrada.html" class="boton boton--primario">Ir a</a>
                 </div>
                 <div class="bloque">
                     <img class="bloque__imagen" src="~/Imagenes/index/facturar.png" alt="icono_1">
                     <h3 class="bloque__titulo">Facturar</h3>
                     <p>
                         Etiam rhoncus. Maecenas tempus, Etiam sit amet orci eget eros faucibus
                         tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.
                     </p><!--.bloque-->
                     <a href="entrada.html" class="boton boton--primario">Ir a</a>
                 </div>
             </div>
         </section>
     </main>
     <br />
     <br />
 </body>
</html>