<html>
<head>

</head>
<body>
    <br />
    <br />
    <h2><u>Administracion de usuarios</u></h2>
    <div style="text-align: center">
        <br />
        <h3>Administracion de usuarios</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <button type="submit" class="btn btn-success" id="registrar"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crear_usuario">Crear un nuevo usuario</a></button>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <button type="submit" class="btn btn-success" id="registrar"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="cambiarcontra">Cambiar contrasena</a></button>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <button type="submit" class="btn btn-success" id="registrar"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="eliminar">Eliminar usuarios</a></button>
    </div>
    <br />
    <br />
    <br />
</body>
</html>
