<html>
<head>
    <style>
        body {
            background: url(../Imagenes/index/fondo.jpg);
            padding: 2px 20px 2px 20px;
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>
<body>
    <br />
    <br />
    <h2><u>Administracion de usuarios</u></h2>
    <div style="text-align: center">
        <br />
        <h3>Administracion de usuarios</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="crear_usuario"><strong><button type="submit" class="btn btn-success" id="registrar">Crear un nuevo usuario</button></strong></a>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="cambiarcontra"><strong><button type="submit" class="btn btn-success" id="registrar">Cambiar contrasena</button></strong></a>
    </div>
    <br />
    <br />
    <br />
    <div style="text-align: center">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="eliminar"><strong><button type="submit" class="btn btn-success" id="registrar">Eliminar usuarios</button></strong></a>
    </div>
    <br />
    <br />
    <br />
</body>
</html>
