@using Microsoft.Extensions.Options

<html>
<head>
    <link rel="stylesheet" href="css/normalice.css">
    <link rel="stylesheet" href="~/css/pagosstyle.css">

    <title>pagos</title>
    <script src="https://www.paypal.com/sdk/js?client-id=Ad-r-3q87Oo8a1CApnBI0gZds2CGy9jlhr2wcdAg-C0D62lIv_IJgn_vgzimjzFPbKpZYNpQdzdvn7Dk&currency=USD">
    </script>
</head>
<body>
    <div id="paypal-button-conteiner"></div>
    <script>
        paypal.Buttons({
            style:{
                color: 'blue',
                shape: 'pill',
                label: 'pay'
            },

            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '@ViewBag.tota'
                        }
                    }]
                });
            },
            onCancel: function (data) {
                alert("pago cancelado")
            },
            onApprove: function (data, actions) {
                actions.order.capture().then(function (detalles) {
                    console.log(detalles)
                });
            }
        }).render('#paypal-button-conteiner');
    </script>
</body>
</html>
