<html>
<head>

</head>
<body>


    <h2><u>Registro de Productos</u></h2>

    <div style="text-align: center">
        <br />
        <h3>Registro de Productos</h3>
    </div>

    <br />
    <form class="form-horizontal">

        <div class="form-group">
            <label for="nombre" class="col-sm-5 control-label">Codigo Producto</label>
            <div class="col-sm-5">
                <input type="text" name="Codigo Producto" class="form-control" id="Codigo Producto" placeholder="Codigo Producto" />
            </div>
        </div>
        <div class="form-group">
            <label for="Nombre del Producto" class="col-sm-5 control-label">Nombre del Producto</label>
            <div class="col-sm-5">
                <input type="text" name="Nombre del Producto" class="form-control" id="Nombre del Producto" placeholder="Nombre del Producto" />
            </div>
        </div>
        <div class="form-group">
            <label for="Proveedor" class="col-sm-5 control-label">Proveedor</label>
            <div class="col-sm-5">
                <input type="text" name="Proveedor" class="form-control" id="Proveedor" placeholder="Proveedor" />
            </div>
        </div>
        <div class="form-group">
            <label for="Estado" class="col-sm-5 control-label">Estado</label>
            <div class="col-sm-5">
                <input type="text" name="Estado" class="form-control" id="Estado" placeholder="Estado" />
            </div>
        </div>
        <div class="form-group">
            <label for="Marca" class="col-sm-5 control-label">Marca</label>
            <div class="col-sm-5">
                <input type="text" name="Marca" class="form-control" id="Marca" placeholder="Marca" />
            </div>
        </div>
        <div class="form-group">
            <label for="Precio" class="col-sm-5 control-label">Precio</label>
            <div class="col-sm-5">
                <input type="text" name="Precio" class="form-control" id="Precio" placeholder="Precio" />
            </div>
        </div>
        <div class="form-group">
            <label for="Medidas" class="col-sm-5 control-label">Medidas</label>
            <div class="col-sm-5">
                <input type="text" name="Medidas" class="form-control" id="Medidas" placeholder="Medidas" />
            </div>
            <div class="form-group">
                <label for="Cantidad" class="col-sm-5 control-label">Cantidad</label>
                <div class="col-sm-5">
                    <input type="text" name="Cantidad" class="form-control" id="Cantidad" placeholder="Cantidad" />
                </div>
            </div>
            <div class="form-group">
                <label for="Tipo Vehiculo" class="col-sm-5 control-label">Tipo Vehiculo</label>
                <div class="col-sm-5">
                    <input type="text" name="Tipo Vehiculo" class="form-control" id="Tipo Vehiculo" placeholder="Tipo Vehiculo" />
                </div>
            </div>

            </div>
            <br />
            <div style="text-align: center">
                <button type="submit" class="btn btn-success">Registrar</button>
            </div>
</form>
</body>
</html>
