@model amabisca.Program

@{
    ViewData["Title"] = "Proveedores";
}

<h2><u>Proveedores</u></h2>

<html>
<head>
    <style>
        body {
            background: url(../Imagenes/index/fondo.jpg);
            padding: 2px 20px 2px 20px;
            font-family: 'Oswald', sans-serif;
        }
    </style>
</head>
<body>

</body>
</html>


<div style="text-align: center">
    <br />
    <h3> Registro de Proveedores</h3>
</div>

<form class="form-horizontal" method="post">
    <br />


    
    <div class="form-group">
        <label for="nombre_producto" class="col-sm-5 control-label">Nombre</label>
        <div class="col-sm-5">
            <input type="text" name="nombre" class="form-control" id="nombre_producto" placeholder="nombre">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Telefono</label>
        <div class="col-sm-5">
            <input type="text" name="telefono" class="form-control" id="cantidad" placeholder="# telefono">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Direccion</label>
        <div class="col-sm-5">
            <input type="text" name="direccion" class="form-control" id="cantidad" placeholder="direccion">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Ciudad</label>
        <div class="col-sm-5">
            <input type="text" name="ciudad" class="form-control" id="cantidad" placeholder="ciudad">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Pais</label>
        <div class="col-sm-5">
            <input type="text" name="pais" class="form-control" id="cantidad" placeholder="pais">
        </div>
    </div>
    <br />
    <div style="text-align: center">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>

