@model amabisca.Program

@{
    ViewData["Title"] = "Proveedores";
}

<h1><u>Proveedores</u></h1>

<style>
    div.a {
        text-align: center;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
</style>

<div class="a">
    <br />
    <h2> Registro de Proveedores</h2>
</div>

<form class="form-horizontal">
    <br />
    <br />
    <div class="form-group">
        <label for="cod_producto" class="col-sm-2 control-label">Coodigo Proveedor</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="cod_producto" placeholder="codigo">
        </div>
    </div>
    <div class="form-group">
        <label for="nombre_producto" class="col-sm-2 control-label">Nombre</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="nombre_producto" placeholder="nombre">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Telefono</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="cantidad" placeholder="# telefono">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Direccion</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="cantidad" placeholder="direccion">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Ciudad</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="cantidad" placeholder="ciudad">
        </div>
    </div>
    <div class="form-group">
        <label for="cantidad" class="col-sm-2 control-label">Pais</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="cantidad" placeholder="pais">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </div>
</form>

