
@{
    ViewData["Title"] = "reportes";
}

<html>
<head>

</head>
<body>
    <h2><b>Reportes</b></h2>

    <div style="text-align: center">
        <br />
        <h3>Elija el tipo de Reporte que desea visualizar</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <form class="form-horizontal" method="post">
        <div align="center">
            <select name="reprotes" id="reportes">
                <option>Ultimo articulo vendido</option>
                <option>Articulos mas vendidos los ultimos tres días</option>
                <option>Articulos vendidos el dia de hoy</option>
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Visualizar</button>
        </div>
    </form>
</body>
</html>

