
@{
    ViewData["Title"] = "reportes";
}

<html>
<head>
</head>
<body style="background-color: #EEEEEE;">
    <h2><b>Reportes</b></h2>

    <div style="text-align: center">
        <br />
        <h3>Elija el tipo de Reporte que desea visualizar</h3>
    </div>
    <br />
    <br />
    <br />
    <br />
    <form class="form-horizontal" method="post">
        <div style="text-align: center">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="todos_productos"><button type="button" class="btn btn-success">Listado de todos los productos disponibles</button></a>
        </div>
        <div style="text-align: center">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="todos_proveedores"><button type="button" class="btn btn-success">Listado de todos los proveedores de la empresa</button></a>
        </div>
        <div style="text-align: center">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="todos_clientes"><button type="button" class="btn btn-success">Listado de todos los clientes de la empresa</button></a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Visualizar</button>
        </div>
    </form>
</body>
</html>

