
@{
    ViewData["Title"] = "Ventas";
}


<html>
<head>
    <script src="https://www.paypal.com/sdk/js?client-id=Ad-r-3q87Oo8a1CApnBI0gZds2CGy9jlhr2wcdAg-C0D62lIv_IJgn_vgzimjzFPbKpZYNpQdzdvn7Dk&currency=USD">
    </script>
</head>
<body style="background-color: #EEEEEE;">
    <div style="float: right">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Factura"><img src="https://www.gasmart.mx/wp-content/uploads/2017/12/Factura_01-400x400.png" width="100" height="100"></a>
        <label>Generar Factura</label>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="facturaimpr"><img src="https://www.asfiscal.com/wp-content/uploads/2016/08/anexos-23.png" width="100" height="100"></a>
        <label>Generar guia del pedido</label>
    </div>

    <h2><u><strong>Ventas</strong></u></h2>

    <div style="text-align: center">
        <h3><strong>Registro de Ventas</strong></h3>
    </div>
    <br />
    <br />

    <form class="form-group" method="post">

        <div class="form-group">
            <label for="cod_producto" class="col-sm-5 control-label"><strong>Codigo Producto</strong></label>
            <div class="col-sm-5">
                <input type="text" name="cod_producto" class="form-control" id="cod_producto" placeholder="Codigo Producto" required>
            </div>
        </div>
        <div class="form-group">
            <label for="nombre_producto" class="col-sm-5 control-label"><strong>Codigo Cliente</strong></label>
            <div class="col-sm-5">
                <input type="text" name="cod_cliente" class="form-control" id="cod_cliente" placeholder="No. NIT" required>
            </div>
        </div>
        <div class="form-group">
            <label for="cantidad" class="col-sm-2 control-label"><strong>Cantidad</strong></label>
            <div class="col-sm-5">
                <input type="text" name="cantidad" class="form-control" id="cantidad" placeholder="Cantidad" required>
            </div>
        </div>
        <div class="form-group">
            <label for="cantidad" class="col-sm-2 control-label"><strong>Codigo Usuario</strong></label>
            <div class="col-sm-5">
                <input type="text" name="codusuario" class="form-control" id="codusuario" placeholder="cod. vendedor" required>
            </div>
        </div>
        <br />
        <br />

        <div style="text-align: center">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>

        <br />
        <br />

        <div id="paypal-button-conteiner" style="text-align: center"></div>
        <script>
        paypal.Buttons({
            style:{
                color: 'blue',
                shape: 'pill',
                label: 'pay'
            },

            createOrder: function (data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '@ViewBag.tota'
                        }
                    }]
                });
            },
            onCancel: function (data) {
                alert("pago cancelado")
            },
            onApprove: function (data, actions) {
                actions.order.capture().then(function (detalles) {
                    console.log(detalles)
                });
            }
        }).render('#paypal-button-conteiner');
        </script>
        <br />
        <br />

    </form>
</body>
</html>



